.header {
  display: flex;
  width: calc(100% - 2 * 48px);
  margin: 0 auto;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .header {
    width: calc(100% - 2 * 24px);
  }
}

@media (max-width: 480px) {
  .header {
    width: calc(100% - 2 * 16px);
  }
}
