.cover {
  font-family: "Inter", Arial, sans-serif;
  margin: 0 48px;
  padding-bottom: 92px;
  padding: 0;
}
@media (max-width: 1024px) {
  .cover {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .cover {
    padding-bottom: 88px;
  }
}
@media (max-width: 480px) {
  .cover {
    padding-bottom: 64px;
  }
}
